@charset "utf-8";

@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

/********** DEFALT SETTINGS **********/

* {
   margin: 0;
   padding: 0;
   font-family: 'Noto Sans Korean', 'Nanum Square', "'Nanum Gothic'";
   color: #959595;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
   display: block;
}
audio,
canvas,
progress,
video {
   display: inline-block;
   vertical-align: top;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden],
template {
   display: none;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}
table {
   border-spacing: 0;
}
a {
   color: inherit;
}
a,
a:hover,
a:active,
a:focus {
   text-decoration: none;
}
abbr[title] {
   border-bottom: 1px dotted;
}
em,
address {
   font-style: normal;
}
b,
strong {
   font-weight: 500;
}
small {
   font-size: 80%;
}
img {
   vertical-align: top;
}
hr {
   box-sizing: content-box;
   height: 0;
}
pre {
   overflow: auto;
}
button {
   padding: 0;
   border: 0;
   cursor: pointer;
   overflow: visible;
   background: transparent;
}
button,
input,
optgroup,
select,
textarea {
   color: inherit;
   font: inherit;
   margin: 0;
}
button,
select {
   text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
   -webkit-appearance: button;
   cursor: pointer;
   border: 0;
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input {
   line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
   box-sizing: border-box;
   padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   height: auto;
}
input[type='search'] {
   -webkit-appearance: textfield;
   box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
button:active > *,
button:focus > * {
   position: relative;
   top: 0px;
   left: 0px;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
td,
th {
   padding: 0;
}
html {
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   height: 100%;
} /* -webkit-tap-highlight-color:transparent; */
* {
   -webkit-tap-highlight-color: transparent;
}
html,
body {
   font-family: 'Noto Sans Korean', 'Nanum Square', "'Nanum Gothic'";
   font-size: 16px;
   color: #666666;
   line-height: 1.66;
   font-weight: 400;
   word-break: keep-all;
   letter-spacing: -0.04em;
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
a:tel {
   text-decoration: none;
}

img {
   max-width: 100%;
}

.blind,
caption,
legend {
   padding: 0;
   margin: 0;
   font-size: 0;
   width: 0;
   height: 0;
   line-height: 0;
   text-indent: -9999px;
}
.d_none {
   display: none;
}

/* input */

input[type='text'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='tel'] {
   height: 39px;
   margin: 0;
   padding: 0 10px;
   border: 1px solid #d2d2d2;
   font-size: 16px;
   color: #575a61;
}
input[type='file'] {
   height: 39px;
   font-size: 16px;
}
select {
   height: 39px;
   padding: 3px 0px 3px 0px;
   border: 1px solid #d2d2d2;
   font-size: 16px;
   color: #000000;
}
textarea {
   padding: 10px;
   border: 1px solid #d2d2d2;
   font-size: 16px;
   color: #000000;
}
textarea,
input[type='text'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='datetime'],
input[type='email'],
input[type='tel'],
input[type='submit'] {
   -webkit-border-radius: 0;
   border-radius: 0px; /* iOS 둥근모서리 제거 */
   -webkit-appearance: none; /* 네이티브 외형 감추기 */
   -moz-appearance: none;
   appearance: none;
}

input::-webkit-input-placeholder {
   color: #000;
}
input:-moz-placeholder {
   color: #000;
   opacity: 1;
}
input::-moz-placeholder {
   color: #000;
   opacity: 1;
}
input::-ms-input-placeholder {
   color: #000;
}
input::input-placeholder {
   color: #000;
}

textarea::-webkit-input-placeholder {
   color: #000;
}
textarea:-moz-placeholder {
   color: #000;
   opacity: 1;
}
textarea::-moz-placeholder {
   color: #000;
   opacity: 1;
}
textarea::-ms-input-placeholder {
   color: #000;
}
textarea::input-placeholder {
   color: #000;
}

#skip_nav {
   position: fixed;
   left: 0;
   top: -50px;
   width: 100%;
   text-align: center;
   line-height: 40px;
   background: rgba(0, 0, 0, 0.5);
   color: #ffffff;
   font-size: 13px;
   z-index: 10000;
   transition: top 0.3s;
}
#skip_nav:focus {
   top: 0;
}

/* button */

/* size */
.half + .half {
   width: 48% !important;
   margin-left: 2%;
}
